#header {
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
    line-height: 100px;
    font-size: 15px;
}
.term {
  padding: 50px;
  background-color: #9BC362;
}
.examples {
  padding: 20px;
  display: inline;
  justify-content: center;
}
